export DB_DRIVER=postgres
export DB_HOST=192.168.0.112
export DB_PASSWORD=postgres123!@#
export DB_NAME=WeKnora
export DB_PORT=5459
export DB_USER=postgres
export DOCREADER_ADDR=192.168.0.112:50051
export MINIO_ACCESS_KEY_ID=admin1234
export MINIO_BUCKET_NAME=test
export MINIO_ENDPOINT=192.168.0.112:9090
export MINIO_SECRET_ACCESS_KEY=admin1234
export MINIO_USE_SSL=false
export REDIS_ADDR=192.168.0.112:6379
export REDIS_DB=0
export REDIS_PASSWORD=redis123!@#
export RETRIEVE_DRIVER=postgres
export STORAGE_TYPE=minio
export TENANT_AES_KEY=1234567890123456
export GOLANG_PROTOBUF_REGISTRATION_CONFLICT=warn
